@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: crimson;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3; 
    transition: all 1s ease;
    overflow-x: unset;

    a{
        text-decoration: none;
        color: white;
    }
  
    .MuiSvgIcon-root {
        color: white;
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
    }

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .left {
            
            display: flex;
            align-items: center;


            .logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: white;
                margin-right: 40px;
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }
                
                .icon {
                    margin-right: 5px;
                    font-size: 18px;
                    text-decoration: none;
                }

                .download-cv {
                    background-color: transparent;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;
                    border: none;
                   }
                  

                span{
                    font-size: 15px;
                    font-weight: 500;
                }

            }
        
        }

        .right {

            .hamburguer {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                

                span {
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }
    &.active{
        background-color: $mainColor;
        color: white;

        .hamburguer{
            overflow: hidden;
            span{
                overflow: hidden;
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                    overflow: hidden;
                }
                &:nth-child(2){
                    opacity: 0;
                    overflow: hidden;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                    overflow: hidden;
                }
            }
        }
    }
}