@import "../../global.scss";

body{
    .swal-overlay {
        background-color: rgba(43, 165, 137, 0.45);
      }

      .swal-button {
        padding: 7px 19px;
        border-radius: 2px;
        background-color: rgb(6, 6, 58);
        font-size: 12px;
        border: none;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      }
      .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
      }
}
.contact {
    background-color: rgb(6, 6, 58);
    display: flex;

    @include mobile {
        flex-direction: column;
    }
    

    .left{
        flex: 1;
        overflow: hidden;
        background-color: rgb(6, 6, 58);
        img {
            height: 100%;
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          

        h2 {
            font-size: 30px;
        }

        input, textarea {
            background-color: black;
            /*color: white;*/
        }
        
        .overflow{
            z-index: 999;
            color: green;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 450px;
            width: 300px;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;
                color: green;

                @include mobile{
                    width: 200px;
                    height: 20px;

                }

            }

            textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;
                color: green;

                @include mobile{
                    width: 200px;
                    height: 100px;
                    
                }
            }

            .button {
                width: 150px;
                height: 30px;
                color: green;
                font-weight: bolder;
                background-color: black;
                border: none;
                border-radius: 10px;
            }

                .button:hover{
                    cursor: pointer;
                    background-color: green;
                    color: rgb(6, 6, 58);
                    transition: all 1s ease-in-out;
                }

                .thanks {
                color: green;
                align-items: center;
                overflow: hidden;
                justify-content: center;
                }
        }

        .download-cv {
            background-color: transparent;
            font-size: 22px;
            color: green;
            cursor: pointer;
            border: none;
           }
       .download-cv:hover{
            background-color: black;
            border-radius: 10px;
            transition: all 1s ease-in-out;
        }

    }
}