@import "../../global.scss";

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotateY(180deg); 
        }
        &.right{
            right: 100px;
        }
    }

    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1{
        justify-content: center;
        margin-bottom: 500px;
        color: #fff;
    }

    .slider {
        height: 80vh;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1.5s ease-in-out;

        // .slider2 {
        //     height: 50vh;
        //     display: flex;
        //     left: 0;
        //     transition: all 1.5s ease-in-out;

        //     .img{
        //         flex: 8;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         overflow: hidden;
        //         border-radius: 15px;
        //         img{
        //             width: 400px;
        //             border-radius: 15px;
        //         }
        //     }

        //     .arrow2{
        //         color: green;
        //         height: 30px;
        //         position: absolute;
        //         cursor: pointer;

        //         &.left2{
        //             left: 100px;
        //             transform: rotateY(180deg);
        //         }

        //         &.right2{
        //             right: 100px
        //         }
        //     }
        // }

        
        .container {
            width: 100vw;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2{
                font-size: 50px;
                overflow: hidden;
                margin-bottom: 10px;
            }

            .title {
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .desc{
                width: 20vw;
                height: fit-content;
                font-size: large;
            }

            .img {
                flex: 8;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 20px;
                img {
                    width: 800px;
                    border-radius: 20px;
                }
                img:hover{
                    cursor: auto;
                }
            }
        }
    }
}