@import "../../global.scss";

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            height: 25px;
        }

        &.left{
            left: 100px;
            transform: rotateY(180deg);
            @include mobile {
                left: 10px;
            }
        }
        &.right{
            right: 100px;
            @include mobile{
                right: 10px;
            }
        }
    }

    .item{
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile{
            display: flex;
            flex-direction: column;
        }
    }

    h1{
        justify-content: center;
        margin-bottom: 500px;
        color: #fff;
    }

    .slider {
        height: 80vh;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1.5s ease-in-out;

        .container {
            width: 100vw;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2{
                font-size: 50px;
                overflow: hidden;
                margin-bottom: 10px;
            }

            .title {
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .desc{
                width: 20vw;
                height: fit-content;
                font-size: large;
                margin-left: 20px;

                @include mobile {
                    width: fit-content;
                    margin: 10px 10px 0 10px;
                }
            }

            .img {
                flex: 8;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 20px;
                img {
                    width: 800px;
                    border-radius: 20px;
                    @include mobile{
                        width: 300px;
                    }
                }
                img:hover{
                    cursor: auto;
                }
            }
        }
    }
}