@import "../../global.scss";

h1, h2, h3, h4 {
    color: green;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover{
    color: darkgreen;
}

.AboutMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include mobile{
        flex-direction: column;
    }
}

.rightUp{
    @include mobile{
        display: none;
    }
}

.tech {
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    @include mobile{
        font-size: 40px;
    }
}

h2 {
    font-size: 40px;
    @include mobile{
        font-size: 30px;
    }
}

h3 {
    font-size: 30px;

    @include mobile{
        font-size: 20px;
    }
}

h4{
    font-size: 20px;
    @include mobile{
        font-size: 15px;
    }
}